*{margin: 0;
    padding: 0;
color:white;}

.learning{background-color: #0f1111; height: 60px;}
#search2{background-color: #f08804;}
#search1{color:rgb(0, 0, 0);}
#logo{color:#f08804;
font-size: 25px;}
a{margin-right: 200px;}